@using Cv_Asp.net.Models.Entity
@model List<Tbl_Hakkımda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda GÜNCELLEME SAYFASI</h2>

<form method="post">
    @foreach (var item in Model)
    {

        <label>Ad</label>
        <input type="text" name="Ad" value="@item.Ad" class="form-control" />
        <br />
        <label>Soyad</label>
        <input type="text" name="SoyAd" value="@item.SoyAd" class="form-control" />
        <br />
        <label>Adres</label>
        <input type="text" name="Adres" value="@item.Adres" class="form-control" />
        <br />
        <label>Telefon</label>
        <input type="text" name="Telefon" value="@item.Telefon" class="form-control" />
        <br />
        <label>Mail</label>
        <input type="text" name="Mail" value="@item.Mail" class="form-control" />
        <br />
        <label>Resim</label>
        <input type="text" name="Resim" value="@item.Resim" class="form-control" />
        <br />
       
        <br />
        <label>Açıklama</label>

        <textarea rows="5" class="form-control" name="Acıklama">@item.Acıklama</textarea>


    }
    <br />

    <button class="btn btn-success">Güncelle</button>
</form>


